.container2 {
  text-align: left;
  border: 5px black solid;
  padding: 40px 30px;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  height: auto;
  width: auto;
}
input {
  border-top: none;
  border-left: none;
  border-right: none;

}
