* {
  font-family: 'SUIT', sans-serif;
}

.blackb {
  padding: 10px 15px;
  font-size: larger;
  font-weight: bold;
  border-color: black;
  background-color: white;
  color: black;
  border-width: 2.5px;
  /* fill black on hover */
  /* fill color slowly */
  transition: 0.3s;
  &:hover {
    background-color: black;
    color: white;
  }
  /* unfill color slowly */
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
